Userfriendly\Bundle\SocialUserBundle\Entity\UserIdentity:
    type: entity
    table: user__identity
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        type:
            type: string
            length: 32
            unique: true
        identifier:
            type: string
            length: 255
        accessToken:
            column: access_token
            type: string
            length: 255
            nullable: true
        name:
            type: string
            length: 255
            nullable: true
        email:
            type: string
            length: 255
            nullable: true
        updatedAt:
            column: updated_at
            type: datetime
            gedmo:
                timestampable:
                    on: update
        createdAt:
            column: created_at
            type: datetime
            gedmo:
                timestampable:
                    on: create
    manyToOne:
        user:
            targetEntity: Userfriendly\Bundle\SocialUserBundle\Model\UserInterface
            joinColumn:
                name: user_id
                referencedColumnName: id
            cascade: ["persist"]
            fetch: EAGER